<ul class="nav navbar-nav">
	<li><%= link_to 'Destinos', destination_path %></li>
	<li><%= link_to 'Tips', tips_path %></li>
	<li><%= link_to 'Tops', tops_path %></li>
	<li><%= link_to 'Contactenos', contact_path %></li>
</ul>